<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>‘The Chair’</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="swiper swiper-container-v swiper-v">
			<div class="swiper-wrapper">
				{% for week in weekFiles %}
				<div class="swiper-slide">
					<div class="swiper swiper-container-h swiper-h">
						<div class="swiper-wrapper">
							{% for file in week %}
							<div class="swiper-slide">
								<img src="{{file}}" alt="">
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<script type="module" src="carousel.js"></script>
	</body>
</html>
