html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 600px;
  height: 600px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-up,
.swiper-button-down,
.swiper-button-next,
.swiper-button-prev {
  height: 1rem;
  width: 1rem;
}

.swiper-button-up-container,
.swiper-button-down-container {
  display: flex;
  justify-content: center;
}

.swiper-button-up {
  background-image: url('./carousel-assets/arrow_up.svg');
}

.swiper-button-next {
  background-image: url('./carousel-assets/arrow_right.svg');
}

.swiper-button-prev {
  background-image: url('./carousel-assets/arrow_left.svg');
}

.swiper-button-down {
  z-index: 10;
  background-image: url('./carousel-assets/arrow_down.svg');
}

.swiper-button-up.swiper-button-disabled,
.swiper-button-down.swiper-button-disabled {
  opacity: 0;
  transition: opacity 0.5s;
}
