@import "reset.css";

@font-face {
  font-family: "ABC Oracle Variable";
  src: url("/fonts/ABCOraclePlusVariableEdu-Regular.woff2") format("woff2");
  font-variation-settings:
    "TRIP" 0.80;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "ABC Oracle Variable", Arial, Helvetica, sans-serif;
  font-size: .9rem;

  /* filter: url("../assets/distort.svg#distort"); */
}

.printer {
  display: flex;
  gap: 1rem;
}

article {
  width: 30ch;
  padding: 1rem 0;
  border: 1px solid #dadada;
  height: min-content;

  & h1,
  h2,
  h3,
  p,
  >a {
    margin: 0 0.5rem;
  }
}

hr {
  border: none;
  border-bottom: 1px solid #dadada;
  margin: 1rem 0;
}


h1 {
  font-size: inherit;
  font-weight: normal;
  font-style: italic;
}

h2 {
  font-size: inherit;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1rem;
}

h2:after {
  content: " ============================";
  white-space: nowrap;
  overflow: hidden;
}


img {
  width: 100px;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  width: 100%;
  height: min-content;
}

a:hover {
  &::before {
    content: '['
  }

  &::after {
    content: ']'
  }
}

.preview {
  display: none;
  background: white;
  outline: 1px solid #dadada;
  padding: 0.25rem;
}

.link {
  text-decoration: underline;
}

.desc {
  text-decoration: none;
  color: black;
  opacity: .6;
}

#chair-thumbnail {
  width: 20rem;
  height: auto;
  overflow: hidden;
}
