@import "reset.css";

@font-face {
  font-family: "ABC Oracle Variable";
  src: url("/fonts/ABCOraclePlusVariableEdu-Regular.woff2") format("woff2");
  font-variation-settings:
    "TRIP" 0.80;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "ABC Oracle Variable", Arial, Helvetica, sans-serif;
  font-size: .9rem;
  background-color: #dfdfdf;
}

main {
  max-width: 30ch;
  background-color: white;
  padding: 1rem 0.5rem;
}

h1 {
  font-size: inherit;
  font-weight: normal;
  font-style: italic;
}

h2 {
  font-size: inherit;
  white-space: nowrap;
  overflow: hidden;
}

h2:after {
  content: " ============================";
  white-space: nowrap;
  overflow: hidden;
}

section {
  margin-top: 1rem;
}

img {
  width: 100px;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  width: 100%;
  height: min-content;
}

a:hover {
  &::before {
    content: '['
  }
  &::after {
    content: ']'
  }
}

.preview {
  display: none;
  background: white;
  outline: 1px solid black;
  padding: 0.25rem;
}

.link {
  text-decoration: underline;
}

.desc {
  text-decoration: none;
  color: black;
  opacity: .6;
}

.chair-thumbnail {
  width: 20rem;
  height: auto;
  overflow: hidden;
}

.chair-thumbnail img {
  width: 100%;
  height: 100%;
}
