@import "reset.css";

@font-face {
	font-family: "ABC Oracle Variable";
	src: url("/fonts/ABCOraclePlusVariableEdu-Regular.woff2") format("woff2");
}

:root {
	--text-subtle: #606060;
}

body {
	padding: 1vw;
	padding-top: 20vh;
	min-height: 100vh;
	font-family: "ABC Oracle Variable", Arial, Helvetica, sans-serif;
	font-size: .9rem;
	font-variation-settings:
		"TRIP" 0.80;

	/* filter: url("../assets/distort.svg#distort"); */
}

main {
	position: relative;
	max-width: 30ch;
	padding: 1rem 0;
	height: min-content;

	& h1,
	h2,
	h3,
	p,
	>a {
		margin: 0 0.5rem;
	}
}

h1 {
	font-size: inherit;
	font-weight: normal;
	font-style: italic;
}

h2 {
	font-size: inherit;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 1rem;
}

h2:after {
	content: " ============================";
	white-space: nowrap;
	overflow: hidden;
}


a {
	text-decoration: none;
	display: inline-block;
	line-height: 1;
	width: 100%;
	height: min-content;
}

.project {
	line-height: 1;
}

.tags {
	list-style-type: none;
	color: var(--text-subtle);
}

.tags,
.project-number {
	margin-left: .75rem;
}

.thumbnail {
	width: 100%;
	background-color: black;
	aspect-ratio: 5/6;
	padding: 5%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: .25rem 0;
}

.link {
	text-decoration: underline;
}

.unselectable {
	/* Prevent text selection */
	user-select: none;
	-webkit-user-select: none;

	/* Prevent pointer interactions */
	pointer-events: none;
}
