---
layout: base.njk
title: /kiki-chang/
---

{% html "head" %}
<script src="/js/home.js" defer></script>
{% endhtml %}

<main>
	<div id="time"></div>
	<div class="project">
		<div class="project-number">1</div>
		<div class="thumbnail">
			<img src="/assets/the-chair/w1/1.png" alt="">
		</div>
		<a class="project-title" href="/the-chair">/the-chair/</a>
		<ul class="tags">
			<li>typography</li>
		</ul>
	</div>
</main>
