---
layout: base.njk
title: My Rad Nunjucks Blog Post
---

<p style="line-height: 1;"><a href="/kiki-chang">/kiki-chang/</a><br>ui/ux + graphic designer</p>

<hr>

<h2>xp</h2>
<a href="/qnary">
	<span class="link">/qnary/</span>
	<span class="desc">
		(internship)
	</span>
</a>

<hr>

<h2>projects</h2>
<a href="/the-chair">
	<span class="link">/the-chair/</span>
	<span class="desc tags">
		typography, experimental
	</span>
</a>
<div class="preview">
	<img id="chair-thumbnail" src="/assets/thumbnails/the-chair/1.png" alt="">
</div>
