---
title: /the-chair/
layout: base.njk
---
{% html "head" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
<link rel="stylesheet" href="/css/the-chair.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script src="/js/the-chair/carousel.js" defer></script>
{% endhtml %}

<nav>
	<ul class="section-navigation">
		<li class="current"><span class="chapter-link">/the-chair/</span></li>
		<li><span class="chapter-link"><span>1&nbsp;</span></span></li>
		<li><span class="chapter-link"><span>2&nbsp;</span>Weight</span></li>
		<li><span class="chapter-link"><span>3&nbsp;</span>Italic</span></li>
		<li><span class="chapter-link"><span>4&nbsp;</span>Scale</span></li>
		<li><span class="chapter-link"><span>5&nbsp;</span>Axis</span></li>
		<li><span class="chapter-link"><span>6&nbsp;</span>Rules</span></li>
		<li><span class="chapter-link"><span>7&nbsp;</span>Extreme Scale</span></li>
		<li><span class="chapter-link"><span>8&nbsp;</span>Color</span></li>
		<li><span class="chapter-link"><span>9&nbsp;</span>Image</span></li>
	</ul>
</nav>
<main>
	<div class="swiper-button-up-container">
		<div class="swiper-button-up"></div>
	</div>
	<div class="swiper swiper-container-v swiper-v">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<p>lorem ipsum</p>
			</div>
			{% for week in theChair %}
			<div class="swiper-slide">
				<div class="swiper swiper-container-h swiper-h">
					<div class="swiper-button-prev-container">
						<div class="swiper-button-prev"></div>
					</div>
					<div class="swiper-wrapper">
						{% for file in week %}
						<div class="swiper-slide">
							<img src="{{file}}" alt="">
						</div>
						{% endfor %}
					</div>
					<div class="swiper-button-next-container">
						<div class="swiper-button-next"></div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="swiper-button-down-container">
		<div class="swiper-button-down"></div>
	</div>
</main>
