---
layout: layouts/base.njk
title: /kiki-chang/
---

{% html "head" %}
<script src="/js/home.js" defer='true'></script>
{% endhtml %}

<main>
	<div class="pondering">what if the internet was made by people who love us?</div>
	<p id="intro">
		<a href="/kiki-chang/">/kiki-chang/</a>
		is a <span class="randomize">ui/ux & graphic designer</span>
		desiring a more intimate internet.
		<a href="/kiki-chang/" class="more">(&thinsp;more…&thinsp;)</a>
	</p>
	<p>
		currently seeking full-, part-time, and freelance positions. <br>
		<span class="looking-for">
			what i'm <a href="/looking-for/">/looking-for/</a>
		</span>
	</p>
	<div class="project">
		<div class="project-number">1</div>
		<div class="thumbnail">
			<img src="/assets/the-chair/w1/1.png" alt="">
		</div>
		<a class="project-title" href="/the-chair">/the-chair/</a>
		<ul class="tags">
			<li>typography</li>
		</ul>
	</div>
</main>
<footer>
	<p>today is <span id="date"></span>. this is the website of /kiki-chang/, who would like to thank you for visiting</p>
</footer>
