.home-header {
	margin-bottom: var(--space-m-l);
}
.home-header .icon {
	margin-bottom: var(--space-xs-s);
}
.home-header h1 {
}
.home-header .desc {
	color: var(--color-text-subtle);
	display: block;
}
.home-header .desc::before {
	content: "|";
	display: inline-block;
	width: 1ch;
	text-align: center;
}
