---
title: /the-chair/
permalink: "{{ title | slugify }}/"
layout: layouts/base.njk
---
{%- css "inline" -%}
{%- include "./the-chair.css" -%}
{%- endcss -%}

<main>
	<div class="folder">
		{% renderFile './src/pages/the-chair/the-chair.md' %}
	</div>
	<ul class="chair-weeks">
		{%- for week in theChair %}
		<li>
			<div class="weeks-container">
				{%- for file in week %}
				<img src="{{ file }}" alt="">
				{%- endfor %}
			</div>
		</li>
		{%- endfor %}
	</ul>
</main>

<script>
	document.querySelectorAll('.weeks-container').forEach(el => {
		let isDown = false;
		let startX, startScrollLeft;

		el.addEventListener('mousedown', e => {
			isDown = true;
			startX = e.pageX;
			startScrollLeft = el.parentElement.scrollLeft;
			el.style.cursor = 'grabbing';
		});
		el.addEventListener('mouseleave', () => { isDown = false; el.style.cursor = ''; });
		el.addEventListener('mouseup', () => { isDown = false; el.style.cursor = ''; });
		el.addEventListener('dragstart', e => e.preventDefault());
		el.addEventListener('mousemove', e => {
			if (!isDown) return;
			e.preventDefault();
			el.parentElement.scrollLeft = startScrollLeft - (e.pageX - startX);
		});
	});
</script>
