---
title: /the-chair/
permalink: "{{ it.title |> slugify }}/"
layout: layouts/base.vto
---
{{ css "inline" }}
	{{ include "./the-chair.css"}}
{{ /css }}

<main>
	<ul class="chair-weeks">
		{{ for week of theChair }}
			<li class="week-container">
				{{ for file of week }}
					<img src="{{ file }}" alt="">
				{{ /for }}
			</li>
		{{ /for }}
	</ul>
</main>
