ul.chair-weeks {
	width: 100%;
	list-style-type: none;
	padding: 0;
}
.weeks-container {
	--wc-img-size: 18rem;
	--wc-padding: 16px;
	--wc-gap: 12px;

	display: flex;
	position: relative;
	gap: var(--wc-gap);
	padding: var(--wc-padding);
	overflow: auto;
	height: var(--wc-img-size)
}

.weeks-container img {
	height:100%;
	object-fit: contain;
	width: auto;
	aspect-ratio: 1;
	flex-shrink: 0;
}
