/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/
body {
	background: var(--color-bg);
	color: var(--color-text);
	font-size: var(--size-step-0);
	font-family: var(--font-base);
	line-height: var(--leading-standard);
}

h1 {
	font-size: var(--size-step-0);
	font-weight: normal;
	/* i'm honestly not sure why this is needed */
	line-height: inherit;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

::selection {
	background: #4990e825;
}

time {
	color: var(--color-text-subtle);
}
