:root {
	color-scheme: light dark;
	--color-bg: light-dark(var(--color-paper), #000000);
	--color-text: light-dark(var(--color-ink), #e1e1e1);
	--color-text-subtle: light-dark(var(--color-base-600), #a9a9a9);
	--gutter: var(--space-s);
	--transition-base: 250ms ease;
	--transition-movement: 200ms linear;
	--transition-fade: 300ms ease;
	--transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
	--size-step-0: 1rem;
}
