body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	padding: 16px;
}

main {
	flex: 1;
	min-height: 0;
	margin: 0 2px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	aspect-ratio: 75/53;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.page-left img {
	object-position: left;
}

.page-right img {
	object-position: right;
}
