body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

main {
	height: inherit;
	margin: 0 2px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	aspect-ratio: 75/53;
}

img {
	height: 100%;
	width: auto;
	object-fit: cover;
}

.page-left img {
	object-position: left;
}

.page-right img {
	object-position: right;
}
